.NavigationBar {
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #86b2bd;
  filter: drop-shadow(0px 10px 10px rgb(150, 150, 150));
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.addbtn {
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 50px;
  padding-bottom: 50px;
}

.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
