.NavigationBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Searchbars {
  display: flex;
  flex-direction: row;
}

.search {
  margin-right: 10px;
  width: 500px;
}

.EditBar {
  display: flex;
}
