#add {
  width: 50px;
  height: 50px;
  font-size: x-large;
  font-weight: bold;
  color: white;
  background-color: #3f8846;
  margin: 0px;
  padding: 0;
  filter: drop-shadow(2px 2px 1px rgb(51, 51, 51));
  border: 0;
  border-radius: 5px;
}

#add:hover {
  background-color: #3f8878;
}

#add:active {
  background-color: #3f8878;
  filter: drop-shadow(1px 1px 1px rgb(51, 51, 51));
  transform: translateY(1px);
}
