/* ************************************************
This file controls CSS styles for the input boxes 
used in each receipt entry
************************************************ */

/* CSS styling for the layout of the boxes */
.ListItem {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  margin-bottom: 20px;
}

/* unknown */
.entryBox {
  width: 160px;
}

/* CSS styling for the ID box, to make it smaller */
.idBox {
  width: 20px;
}

/* CSS styling for the price box, to make it smaller */
.priceBox {
  width: 60px;
}
