/* ************************************************
This file controls CSS styles for the two search bars
at the top of the page, but not the 'navigation bar' 
that houses them
************************************************ */

/* Sets the searchbar layout */
.Searchbars {
  display: flex;
  flex-direction: row;
}

/* CSS styling for the main search bar, which determines 
its dimensions and adds a drop shadow effect */
.search {
  margin-right: 10px;
  width: 550px;
  height: 25px;
  box-shadow: inset 2px 2px 3px rgb(105, 105, 105);
  border: 0;
  border-radius: 3px;
  font-family: "Trebuchet MS";
  font-size: large;
}

/* CSS styling for the field choice bar, which determines 
its dimensions and adds a drop shadow effect */
#search-field-choice {
  height: 27px;
  width: auto;
  box-shadow: inset 2px 2px 3px rgb(105, 105, 105);
  border: 0;
  border-radius: 3px;
  font-family: "Trebuchet MS";
  font-size: large;
}
