.Searchbars {
  display: flex;
  flex-direction: row;
}

.search {
  margin-right: 10px;
  width: 550px;
  height: 25px;
  box-shadow: inset 2px 2px 3px rgb(105, 105, 105);
  border: 0;
  border-radius: 3px;
  font-family: "Trebuchet MS";
  font-size: large;
}

#search-field-choice {
  height: 27px;
  width: auto;
  box-shadow: inset 2px 2px 3px rgb(105, 105, 105);
  border: 0;
  border-radius: 3px;
  font-family: "Trebuchet MS";
  font-size: large;
}
